/* Body and Header */
body {
	font-family: Arial, sans-serif;
	background-color:aqua;
}

h1 {
	text-align: left;
}

h2 {
	font-family: Arial, sans-serif
}


h2 {
	font-size: x-large;
	color: #FFFFFF;
	background-color:rgb(232, 18, 18);
	text-align: left;
	font-family: sans-serif, 'Courier New', Courier, monospace;
}

#h2textright {
	text-align: center;
	border: 5px solid black; 
	direction: rtl;
	color: black;
	background-color: #FFFFFF;
	margin-bottom: 1cm;
	margin-top: 1cm;
	margin-left: 1cm;

}

ul> li >strong {
	background-color: #FFFFFF;
	color: rgb(232, 18, 18);
}

#caption {
	margin-right: 55%;
	text-align: center;
	padding-right: 40px;
	

	
}



/* Alignment and Text color*/

#move-left {
	text-align: left;
	position: inherit;;
}

header {
	color: #FFFFFF;
}

header > p {
	color: #FFFFFF;
}

/* navigation links */

.menu {
    font-size: 80%;
    letter-spacing: 5px;
	font-weight: bold;
	font-size: x-large;
	color:#FFFFFF;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

.active {
	color:#FFFFFF;
	font-size: large;	
	letter-spacing: 0px;
	
}

.active:hover {
	background-color: #FFFFFF;
	color: grey;
}


/* Background stylying*/


.tx-white {
	color: #FFFFFF;
}

#home {
	background-image: url(../images/MJ\ Air\ dunk.png);
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	background-position: 0rem;
	height: 800px;
	float: left;
	border-radius: 120px;
	border: 5px solid #FFFFFF;
	
}

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}


/* Text styling*/
.tx-middle {
    text-align: center;
}

.text-right {
    text-align: right;
}

strong {
	font-size: 1.15rem;
}

.tx-uppercase {
    text-transform: uppercase;
}



li {
    list-style-type: none;
}

img {
	border-radius: 8px;
	width: 67%;
	margin: 5%;
}

/* Positioning*/

.vertical-middle {
    position: relative;
    top: 40%;
	font-size: larger;
}

.tx-column {
    width: 35%;
    display: inline-block;
}

.content-images {
    width: 65%;
	height: auto;
    display: inline-block;
}



.float-left {
    float: left;
}

.float-right {
    float: right;
}

label {
    margin: 10px 15px 5px 0;
}

/* Footer */
footer > span {
	color: #FFFFFF;
}

footer {
	color: yellow;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
    background-color: black;
   
}



