/* Body and Header */
body {
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	background-color: rgb(232, 18, 18);
}

h1,h2,h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
}

h1 {
	font-size: 3rem;
	margin: 0;
	color: rgb(232, 18, 18);
	background-color: #FFFFFF;
}

h2 {
	font-size: xx-large;
	color: #FFFFFF;
	background-color: grey;
	text-align: left;
	font-family: sans-serif, 'Courier New', Courier, monospace;
}

ul> li >strong {
	background-color: #FFFFFF;
	color: rgb(232, 18, 18);
}

/* Alignment and Text color*/

#move-left {
	text-align: left;
	position: inherit;;
}

header {
	color: beige;
}

header > p {
	color: white;
}

/* Background stylying*/
header {
	background-color: black;
}

.text-white {
	color: #FFFFFF;
}
.black-background {
    background-color: black;
}

#home {
	background-image: url(../images/MJ\ Air\ dunk.png);
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	background-position: 0rem;

}
.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}

.form-page-header {
	background-image: url(../images/many\ basketballs.jpg)
}

/* Text styling*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

strong {
	font-size: 1.3rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

li {
    list-style-type: none;
}

img {
	border-radius: 8px;
	width: 96%;
	margin: 2%;
}

/* Positioning*/.vertical-center {
    position: relative;
    top: 40%;
}

.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.two-thirds-width-column {
    width: 66.66%;
    display: inline-block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

label {
    margin: 10px 15px 5px 0;
}

#multiballs {
	background-image: url(../images/many\ basketballs.jpg);
    height: 300px;
    margin-bottom: 107px;
}

#multiballs {
    height: 100%;
    width: 100%;
    border: none;
}

footer {
	background-color: #6f4e37;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	
   
}

/* Footer */
footer > span {
	color: blue;
}

footer {
	color: yellow;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
    background-color: black;
   
}

footer > p {
	color: orange;
}


