/* Body and Header - Index */

#homeindex {
	background-image: url(../images/Mike\ background.webp);
	background-repeat: no-repeat no-repeat;
	background-size: 100%;
	background-position: 0rem;
	height: 550px;
	width: 100%;
	float: left;	
}

.active1 {
	color: #FFFFFF;
	font-size: large;	
	letter-spacing: -2px;
}

.active1:hover {
	background-color: #FFFFFF;
	color: grey;
}

#caption1 {
	margin-right: 45%;
	text-align: left;
	padding-right: 20px;
	padding-bottom: 30px;
	color: aqua;
	font-style: italic;
	padding-top: 40px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: large;
	font-weight: bolder;
}

.vertical-middle1 {
    position: relative;
    top: 10%;
	margin-left: 5%;
	font-size: large;
	color: #FFFFFF;
	padding-top: 15%;
	
}

.vertical-middle > span {
	color: rgb(232, 18, 18);
}
.tx-column1 {
    width: 50%;
    display: inline-block;
	height: auto;
	background-color: black;
}

/* Content Body */

.content-body {
	background-color: #FFFFFF;
	color: black;
}

#text-black {
	text-align: left;
	border: 3px solid rgb(232, 18, 18);
	color: #FFFFFF;
	background-color: black;
}

#text-black2 {
	text-align: left;
	border: 3px solid rgb(232, 18, 18);
	color: #FFFFFF;
	background-color: black;
}

ul > li {
	list-style-type: square;
	color: black;
}

.justifytx {
	text-align: justify;
}

/* Body and Header - Legacy */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 2%;
	background: fixed;
}

h1 {
	text-align: left;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
}


h2 {
	font-size: x-large;
	color: #FFFFFF;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}

#h2textright {
	text-align: center;
	border: 3px solid rgb(232, 18, 18);
	color: #FFFFFF;
	background-color: black;
}

ul> li >strong {
	background-color: rgb(232, 18, 18);
	color: #FFFFFF;
	
}
ul> li >strong {
	background-color: rgb(232, 18, 18);
	color: #FFFFFF;
}

p {
	font-size: medium;
}


#caption {
	margin-right: 55%;
	text-align:left;
	padding-right: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic; 
	padding-top: 1px;
	float: left;
	color: aqua;
	font-size: large;
	font-weight: bolder;
}


/* Alignment and Text color*/
#move-left {
	text-align: left;
	position: inherit;;
}

header {
	color: #FFFFFF;
}

header > p {
	color: #FFFFFF;
}

/* navigation links */

.menu {
    font-size: 80%;
    letter-spacing: 5px;
	font-weight: bold;
	font-size: x-large;
	color:#FFFFFF;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

.active {
	color:#FFFFFF;
	font-size: large;	
	letter-spacing: -2px;
}

.active:hover {
	background-color: #FFFFFF;
	color: grey;
}

/* Background stylying*/
.tx-white {
	color: black;
}

#home {
	background-image: url(../images/Mike\ background.webp);
	background-repeat: no-repeat no-repeat;
	background-size: 100%;
	background-position: 0rem;
	height: 550px;
	width: 100%;
	float: left;	
}	

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}

/* Text styling*/
.tx-middle {
    text-align: center;
}

.text-right {
    text-align: right;
}

strong {
	font-size: 1.15rem;
}

.tx-lowercase {
	margin-right: 1cm;
	font-size: x-large;
	text-align: justify;
}

.tx-lowercase1 {
	line-height: 2;
}

li {
    list-style-type: none;
}

img {
	border-radius: 8px;
	width: 67%;
	margin: 5%;
}

/* Positioning*/

.vertical-middle {
    position: relative;
    top: 10%;
	margin-left: 5%;
	font-size: medium;
	color: #FFFFFF;
	padding-top: 15%;
}

.tx-column {
    width: 50%;
    display: inline-block;
	height:auto;
	background-color: #FFFFFF;	
}

.content-images {
    width: 50%;
	height:auto;
    display: inline-block;
	background-color: #FFFFFF;	
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Footer */

footer {
	background-color: black;
	width: 100%;
	height: 80px;
	display: inline-block;
}

.social-media {
	color: #FFFFFF;
	font-size: larger;
	margin-left: 15px;
}

span {
	color:rgb(232, 18, 18)
}

span:hover {
	background-color: rgb(232, 18, 18);
	color: #FFFFFF;
}

/* Contact Us Form */

#homecontact {
	background-image: url(../images/Mike\ background.webp);
	background-repeat: no-repeat no-repeat;
	background-size: 100%;
	background-position: 0rem;
	height: 550px;
	width: 100%;
	float: left;	
}

input[type=submit] {
	background-color: rgb(232, 18, 18);
	color: #FFFFFF;
	padding: 13px 21px;
	border: none;
	border-radius: 5px;
	cursor: auto;
  }

input[type=text], select, textarea {
  width: 100%;
  padding: 13px;
  border: 2px solid darkgrey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 17px;
  resize: vertical;
}

.container {
  border-radius: 6px;
  background-color:#FFFFFF;
  padding: 21px;
  width: 40%;
}

input[type=submit]:hover {
	background-color: rgb(232, 18, 18);
  }

input:required {
	background-color: yellow;
}

.sourcelink {
	margin-left: 20px;
	font-size: x-small;
}

/* For small screen size from 375px wide and down */

@media screen and (max-width: 850px) {

	#caption {
		margin-right: 10%;
	}

	#home {
		background-size: 850px 850px;
		height: 850px;
	}

	.tx-column {
		width: 100%;
		
	}

	#homeindex {
		background-size: 850px 850px;
		height: 850px;
	}

	#homecontact {
		background-size: 850px 850px;
		height: 850px;
	}

	.vertical-middle {
		font-size: xx-small;
	}

	.vertical-middle1 {
		font-size: xx-small;
	}

	#caption {
		font-size: x-small;
	}

	.sourcelink {
		font-size: xx-small;
	}

	.social-media {
		font-size: xx-small;	
	}
}