/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat");

/* Global body setting */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
body,
html {
	overflow-x: hidden;
	font-family: "Montserrat";
}
/* Navbar */
.navbar {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: whitesmoke;
}
.nav-links {
	display: flex;
	align-items: center;
}
.nav-links li {
	margin: 0 30px;
}
.nav-links li > a {
	text-decoration: none;
	color: whitesmoke;
}

header {
	width: 100vw;
	height: 100vh;
	background-image: url("../images/background2.jpg");
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.header-content {
	margin-bottom: 150px;
	color: whitesmoke;
	text-align: center;
	background-color: black;
}
.header-content h2 {
	font-size: 4vmin;
}
.line {
	width: 150px;
	height: 4px;
	background: #a52a2a;
	margin: 10px auto;
	border-radius: 5px;
}
.header-content h1 {
	font-size: 7vmin;
	font-weight: 900;
	margin-top: 50px;
	margin-bottom: 30px;
}
.jersey-num {
	color: #a52a2a;
}
.ctn {
	padding: 8px 15px;
	background: #a52a2a;
	border-radius: 30px;
	color: whitesmoke;
}
.menu-btn {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 40px;
	cursor: pointer;
	display: none;
}
/* Biography */
section {
	width: 80%;
	margin: 10% auto;
}
.title {
	text-align: center;
	font-size: 4vmin;
	color: #357686;
}
.row {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.row .col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.events .row {
	margin-top: 50px;
}
.row .col img {
	width: 80%;
}

h4 {
	font-size: 3vmin;
	color: #357686;
	margin: 20px auto;
}
p {
	color: #357686;
	padding: 0px 40px;
}
div > p {
	text-align: justify;
}
.events .ctn {
	margin-top: 30px;
}
.explore {
	width: 100%;
	height: 100vh;
	background-image: url("../images/Mike-background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}
.explore-content {
	width: 60%;
	padding: 50px;
	color: whitesmoke;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.explore-content h1 {
	font-size: 7vmin;
	margin: 50px;
}
.explore-content .line {
	margin-bottom: 50px;
}
.explore-content p {
	color: whitesmoke;
}
.explore-content .ctn {
	margin-top: 40px;
}
.content-col {
	width: 40%;
}
.image-col {
	width: 60%;
}
.tours .row .col {
	width: 50%;
}
.tours .image-gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
}
.image-gallery img {
	max-width: 300px;
	margin: 10px;
}
.content-col h1 {
	font-size: 7vmin;
	color: #357686;
}
.content-col .line {
	margin-left: -1px;
}
.content-col p {
	padding: 0;
	margin: 30px auto;
}
.content-col .ctn {
	margin-left: -100px;
}
.footer {
	width: 100%;
	min-height: 100px;
	padding: 20px 80px;
	margin: 0;
	background: #357686;
	text-align: center;
}
.footer p {
	color: whitesmoke;
	margin: 20px auto;
}

/* Contact Us styles */
#contact_us {
	width: 100vw;
	height: 100vh;
	background-image: url("../images/contact-us.webp");
	background-position: bottom;
	background-size: cover;
	display: flex;
	float: left;
	align-items: flex-end;
	justify-content: center;
	margin: 0;
}
.form_h2 {
	position: absolute;
	top: 230px;
	display: flex;
	float: left;
	margin-top: 0px;
	margin-right: 10%;
}
.form_p p {
	margin: 0 0 5px;
}
form {
	position: relative;
	padding: 25px;
	border-radius: 10px;
	background: whitesmoke;
	margin-bottom: 15%;
}
input,
textarea {
	width: calc(100% - 18px);
	padding: 8px;
	margin-bottom: 20px;
	border: 1px solid #a52a2a;
	outline: none;
}
input::placeholder {
	color: #666;
}
.button_fm {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #fff;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.3em;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 18px;
	color: #a52a2a;
	text-align: center;
	transition: all 0.2s;
}
.button_fm:hover {
	color: #a52a2a;
	background-color: #ffffff;
}

/* thank you styles */
#thankyou {
	width: 100vw;
	height: 100vh;
	background-image: url("../images/backofjersey.webp");
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.title .title-text {
	display: flex;
	background-color: black; width: 45%;
}
#clickreturn {
	background-color: black;
	color: whitesmoke;
}
@media (min-width: 568px) {
	.main-block {
		flex-direction: row;
	}
	.left-part,
	form {
		width: 50%;
	}
}
/* Mobile screen */
@media only screen and (max-width: 850px) {
	.menu-btn {
		display: block;
	}
	.navbar {
		padding: 0;
	}
	.logo {
		position: absolute;
		top: 30px;
		left: 30px;
	}
	.nav-links {
		flex-direction: column;
		width: 100%;
		height: 100vh;
		justify-content: center;
		background-color: #357686;
		margin-top: -900px;
		transition: all 0.5s ease;
	}

	.mobile-menu {
		margin-top: 0px;
		border-bottom-right-radius: 30%;
	}
	.nav-links li {
		margin: 30px auto;
	}
	/* Events */
	.row {
		flex-direction: column;
	}
	.row .col {
		margin: 20px auto;
	}
	.col img {
		max-height: 90;
	}
	/* Explore */
	.explore-content {
		width: 100%;
	}
	.tours .col {
		width: 100%;
	}
	.image-gallery {
		justify-content: center;
		align-items: center;
	}
	.image-gallery img {
		width: 90%;
	}
	.footer {
		padding: 10px;
	}
}
/* Image Transitions */
img {
	transition: transform 0.3s ease;
}
img:hover {
	transform: scale(1.1);
}
.ctn:hover {
	background: #fff;
	color: #a52a2a;
	box-shadow: 2px 2px 5px black;
}
li:hover {
	color: #a52a2a;
	cursor: pointer;
}